body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
p{display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;


}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #858080;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
}

form {
    max-width: 600px;
    padding: 20px;
    background-color: #ebe4e4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:#555;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    color: gray;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    position: ce ;
    
}

button:hover {
    background-color: #0056b3;
}
